Repository sbnb-irb/chemical-checker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_singularity_image_py27, build_singularity_image_py36, build_singularity_image_py27_lite

.gitlab-ci.yml:

image: cc_image:latest
cache:
  paths:
    - images

stages:
  - image
  - test
  - deploy



build_singularity_image_py27:
  stage: image
  script:
    - yum install squashfs-tools -y
    - mkdir images -p
    - rm -f images/cc_py27.simg
    - singularity build images/cc_py27.simg container/singularity/cc_py27.def
  cache:
    paths:
      - images
  artifacts:
    paths:
    - images/cc_py27.simg
    expire_in: 1 week
  only:
    changes:
      - container/singularity/cc_py27.def

build_singularity_image_py36:
  stage: image
  script:
    - yum install squashfs-tools -y
    - mkdir images -p
    - rm -f images/cc_py36.simg
    - singularity build images/cc_py36.simg container/singularity/cc_py36.def
  cache:
    paths:
      - images
  artifacts:
    paths:
    - images/cc_py36.simg
    expire_in: 1 week
  only:
    changes:
      - container/singularity/cc_py36.def

build_singularity_image_py27_lite:
  stage: image
  script:
    - yum install squashfs-tools -y
    - mkdir images -p
    - rm -f images/cc_py27_lite.simg
    - singularity build images/cc_py27_lite.simg container/singularity/cc_py27_lite.def
  cache:
    paths:
      - images
  artifacts:
    paths:
    - images/cc_py27_lite.simg
    expire_in: 1 week
  only:
    changes:
      - container/singularity/cc_py27_lite.def



python_2.7.10:
  stage: test
  script:
    - ls -l
    - SINGULARITYENV_PYTHONPATH=/test/package singularity exec --cleanenv -B $PWD:/test images/cc_py27.simg which python
    - SINGULARITYENV_PYTHONPATH=/test/package singularity exec --cleanenv -B $PWD:/test images/cc_py27.simg make -C /test/package test
  cache:
    paths:
      - images

python_3.6.8:
  stage: test
  script:
    - ls -l
    - SINGULARITYENV_PYTHONPATH=/test/package singularity exec --cleanenv -B $PWD:/test images/cc_py36.simg which python
    - SINGULARITYENV_PYTHONPATH=/test/package singularity exec --cleanenv -B $PWD:/test images/cc_py36.simg make -C /test/package test
  cache:
    paths:
      - images

python_2.7.10_lite:
  stage: test
  script:
    - ls -l
    - SINGULARITYENV_PYTHONPATH=/test/package singularity exec --cleanenv -B $PWD:/test images/cc_py27_lite.simg which python
    - SINGULARITYENV_PYTHONPATH=/test/package singularity exec --cleanenv -B $PWD:/test images/cc_py27_lite.simg make -C /test/package test
  cache:
    paths:
      - images

devpi:
  stage: deploy
  script:
    - conda update -c anaconda setuptools
    - pip install devpi-client
    - pip install sphinx sphinx_rtd_theme
    - devpi use http://devpi.sbnb.org:3141
    - devpi login gitlab --password='sbnb'
    - cd package/docs
    - make html
    - cd ..
    - devpi use root/dev
    - devpi upload --with-docs
    - devpi push chemicalchecker==$CI_COMMIT_TAG root/dev
    - devpi use root/prod
    - devpi upload --with-docs
    - devpi push chemicalchecker==$CI_COMMIT_TAG root/prod
    - pip install --index http://devpi.sbnb.org:3141/root/prod/ --trusted-host devpi.sbnb.org chemicalchecker
  only:
    - tags

pages:
  stage: deploy
  artifacts:
    paths:
    - public
  cache:
    paths:
      - images
  script:
    - SINGULARITYENV_PYTHONPATH=/test/package singularity exec --cleanenv -B $PWD:/test images/cc_py27.simg make -C /test/package docs
    - cd package/docs
    - mv _build/html/ ../../public/
    - ls -l ../../public
  only:
    - master

added TSNE and UMAP
  package/chemicalchecker/core/proj.py
  package/chemicalchecker/core/projector/__init__.py
  package/chemicalchecker/core/projector/tsne.py
  package/chemicalchecker/core/projector/umap_.py
Due: none

adding umap dimensionality reduction module
  container/singularity/cc-full.def
  container/singularity/cc_py27.def
  container/singularity/cc_py36.def
Due: build_singularity_image_py27, build_singularity_image_py36

fixed umap import
  package/chemicalchecker/core/projector/umap_.py
Due: none

fixed tsne import
  package/chemicalchecker/core/projector/default.py
  package/chemicalchecker/core/projector/tsne.py
Due: none

wrong import statement
  package/chemicalchecker/core/projector/tsne.py
Due: none

fixed conda enviroment creation
  container/singularity/cc-full.def
  container/singularity/cc_py27.def
  container/singularity/cc_py27_lite.def
  container/singularity/cc_py36.def
Due: build_singularity_image_py27, build_singularity_image_py36, build_singularity_image_py27_lite

installing correct umap package
  container/singularity/cc-full.def
  container/singularity/cc_py27.def
  container/singularity/cc_py36.def
Due: build_singularity_image_py27, build_singularity_image_py36

:default params
  package/chemicalchecker/core/projector/umap_.py
Due: none

Change the datasets methods
  package/chemicalchecker/core/chemcheck.py
Due: none

Add get_vectors method for neig module
  package/chemicalchecker/core/neig.py
Due: none

return a default color
  package/chemicalchecker/util/plot/plot.py
Due: none

Add smiles_to_sign3short method
  package/chemicalchecker/core/chemcheck.py
Due: none

add method to only access signatures data
  package/chemicalchecker/core/chemcheck.py
  package/chemicalchecker/core/signature_base.py
  package/chemicalchecker/core/signature_data.py
Due: none

Change HPC module to make more flexible by passing paramters not only config file
  package/chemicalchecker/core/chemcheck.py
  package/chemicalchecker/core/sign2.py
  package/chemicalchecker/core/sign3.py
  package/chemicalchecker/core/signature_base.py
  package/chemicalchecker/database/calcdata.py
  package/chemicalchecker/database/datasource.py
  package/chemicalchecker/database/molrepo.py
  package/chemicalchecker/tool/targetmate/targetmate.py
  package/chemicalchecker/util/config/config.py
  package/chemicalchecker/util/hpc/hpc.py
  package/chemicalchecker/util/hpc/sge.py
  package/chemicalchecker/util/hpc/slurm.py
  package/scripts/preprocess/C4.001/run.py
  package/scripts/preprocess/C5.001/run.py
  package/scripts/preprocess/D1.001/run.py
  package/tests/test_hpc.py
Due: none
