Repository sbnb-irb/chemical-checker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_singularity_image_py27, build_singularity_image_py36, build_singularity_image_py27_lite

build_singularity_image_py27:
  stage: image
  script:
  - yum install squashfs-tools -y
  - mkdir images -p
  - rm -f images/cc_py27.simg
  - singularity build images/cc_py27.simg container/singularity/cc_py27.def
  cache:
    paths:
    - images

build_singularity_image_py36:
  stage: image
  script:
  - yum install squashfs-tools -y
  - mkdir images -p
  - rm -f images/cc_py36.simg
  - singularity build images/cc_py36.simg container/singularity/cc_py36.def
  cache:
    paths:
    - images

build_singularity_image_py27_lite:
  stage: image
  script:
  - yum install squashfs-tools -y
  - mkdir images -p
  - rm -f images/cc_py27_lite.simg
  - singularity build images/cc_py27_lite.simg container/singularity/cc_py27_lite.def
  cache:
    paths:
    - images

added suffix for experimeting, include_self to use the sign itself
  package/chemicalchecker/core/sign3.py
Due: none

moved here subsempling function, added comparison to signle space based prediction
  package/chemicalchecker/core/sign3.py
Due: none

sign3 from full not reference
  package/chemicalchecker/core/chemcheck.py
Due: none

added function to est parameters submitting jobs, moved subsampling function out of class
  package/chemicalchecker/core/sign3.py
Due: none

removing unused sbnb packages
  container/singularity/cc-full.def
  container/singularity/cc_py27.def
  container/singularity/cc_py36.def
Due: build_singularity_image_py27, build_singularity_image_py36

forcing adanet install to version 0.5.0 since upgrading it creates issues with numpy
  container/singularity/cc_py27.def
  container/singularity/cc_py36.def
Due: build_singularity_image_py27, build_singularity_image_py36

removing conda update not needed
  container/singularity/cc_py27.def
Due: build_singularity_image_py27

fixing adanet version
  container/singularity/cc-full.def
Due: none

fixing small change in faiss kmeans args
  package/chemicalchecker/core/clus1.py
Due: none

fixing small change in faiss kmeans args
  package/chemicalchecker/core/proj1.py
Due: none

issue #67: limiting matplotlib version <3.0, removing expliciting dependencies installs
  container/singularity/cc_py27_lite.def
  package/setup.py
Due: build_singularity_image_py27_lite

provide packages in lite singularity image, testing the package installation is done after deploying it to devpi
  .gitlab-ci.yml
  container/singularity/cc_py27_lite.def
Due: build_singularity_image_py27_lite

added singularity version control
  setup_chemicalchecker.sh
Due: none

readme needed some updates, added working from laptop and add package sections
  README.md
Due: none

Path conditions:
  build_singularity_image_py27: any of: container/singularity/cc_py27.def
  build_singularity_image_py36: any of: container/singularity/cc_py36.def
  build_singularity_image_py27_lite: any of: container/singularity/cc_py27_lite.def
