Repository sbnb-irb/chemical-checker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_singularity_image_py27, build_singularity_image_py36, build_singularity_image_py27_lite

.gitlab-ci.yml:

image: cc_image:latest
cache:
  paths:
    - images

stages:
  - image
  - test
  - deploy



build_singularity_image_py27:
  stage: image
  script:
    - yum install squashfs-tools -y
    - mkdir images -p
    - rm -f images/cc_py27.simg
    - singularity build images/cc_py27.simg container/singularity/cc_py27.def
  cache:
    paths:
      - images
  artifacts:
    paths:
    - images/cc_py27.simg
    expire_in: 1 week
  only:
    changes:
      - container/singularity/cc_py27.def

build_singularity_image_py36:
  stage: image
  script:
    - yum install squashfs-tools -y
    - mkdir images -p
    - rm -f images/cc_py36.simg
    - singularity build images/cc_py36.simg container/singularity/cc_py36.def
  cache:
    paths:
      - images
  artifacts:
    paths:
    - images/cc_py36.simg
    expire_in: 1 week
  only:
    changes:
      - container/singularity/cc_py36.def

build_singularity_image_py27_lite:
  stage: image
  script:
    - yum install squashfs-tools -y
    - mkdir images -p
    - rm -f images/cc_py27_lite.simg
    - singularity build images/cc_py27_lite.simg container/singularity/cc_py27_lite.def
  cache:
    paths:
      - images
  artifacts:
    paths:
    - images/cc_py27_lite.simg
    expire_in: 1 week
  only:
    changes:
      - container/singularity/cc_py27_lite.def



python_2.7.10:
  stage: test
  script:
    - ls -l
    - SINGULARITYENV_PYTHONPATH=/test/package singularity exec --cleanenv -B $PWD:/test images/cc_py27.simg which python
    - SINGULARITYENV_PYTHONPATH=/test/package singularity exec --cleanenv -B $PWD:/test images/cc_py27.simg make -C /test/package test
  cache:
    paths:
      - images

python_3.6.8:
  stage: test
  script:
    - ls -l
    - SINGULARITYENV_PYTHONPATH=/test/package singularity exec --cleanenv -B $PWD:/test images/cc_py36.simg which python
    - SINGULARITYENV_PYTHONPATH=/test/package singularity exec --cleanenv -B $PWD:/test images/cc_py36.simg make -C /test/package test
  cache:
    paths:
      - images

python_2.7.10_lite:
  stage: test
  script:
    - ls -l
    - SINGULARITYENV_PYTHONPATH=/test/package singularity exec --cleanenv -B $PWD:/test images/cc_py27_lite.simg which python
    - SINGULARITYENV_PYTHONPATH=/test/package singularity exec --cleanenv -B $PWD:/test images/cc_py27_lite.simg make -C /test/package test
  cache:
    paths:
      - images

devpi:
  stage: deploy
  script:
    - conda update -c anaconda setuptools
    - pip install devpi-client
    - pip install sphinx sphinx_rtd_theme
    - devpi use http://devpi.sbnb.org:3141
    - devpi login gitlab --password='sbnb'
    - cd package/docs
    - make html
    - cd ..
    - devpi use root/dev
    - devpi upload --with-docs
    - devpi push chemicalchecker==$CI_COMMIT_TAG root/dev
    - devpi use root/prod
    - devpi upload --with-docs
    - devpi push chemicalchecker==$CI_COMMIT_TAG root/prod
    - pip install --index http://devpi.sbnb.org:3141/root/prod/ --trusted-host devpi.sbnb.org chemicalchecker
  only:
    - tags

pages:
  stage: deploy
  artifacts:
    paths:
    - public
  cache:
    paths:
      - images
  script:
    - SINGULARITYENV_PYTHONPATH=/test/package singularity exec --cleanenv -B $PWD:/test images/cc_py27.simg make -C /test/package docs
    - cd package/docs
    - mv _build/html/ ../../public/
    - ls -l ../../public
  only:
    - master

making pred_error over ensamble
  package/chemicalchecker/core/sign3.py
Due: none

added pred_erro plot for sign3
  package/chemicalchecker/util/plot/plot.py
Due: none

Install fpsim2
  container/singularity/cc_py36.def
Due: build_singularity_image_py36

Update container/singularity/cc_py36.def
  container/singularity/cc_py36.def
Due: build_singularity_image_py36

speedup in AdaNet consensus prediction
  package/chemicalchecker/core/sign3.py
  package/chemicalchecker/tool/adanet/adanet_wrap.py
Due: none

fix chunk shape
  package/chemicalchecker/core/sign3.py
Due: none

minor bugfix, speedup, refactor
  package/chemicalchecker/core/sign3.py
  package/chemicalchecker/tool/adanet/adanet_wrap.py
Due: none

fixing conda command
  container/singularity/cc_py36.def
Due: build_singularity_image_py36

trigger image rebuilding
  container/singularity/cc_py27.def
Due: build_singularity_image_py27

Update README.md
  README.md
Due: none

targetmate, fetch chembl
  package/chemicalchecker/tool/targetmate/datasets/chembl/fetch_chembl.py
  package/chemicalchecker/tool/targetmate/datasets/moleculenet/fetch_moleculenet.py
  package/chemicalchecker/tool/targetmate/universes/univs.py
Due: none

fetch chembl
  package/chemicalchecker/tool/targetmate/datasets/chembl/fetch_chembl.py
  package/chemicalchecker/tool/targetmate/universes/univs.py
Due: none
