Repository sbnb-irb/chemical-checker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_singularity_image_py37, build_singularity_image_py37_lite

.gitlab-ci.yml:

image: cc_image:latest
cache:
  paths:
    - images   # shared directory to drop generated singularity images

stages:
  - image      # building the singularity images
  - unittest   # running unittests
  - docs       # generating and uploading documentation
  - publish    # publish the package on PyPI

################
# image
################

build_singularity_image_py37:
  stage: image
  script:
    - yum install squashfs-tools -y
    - mkdir images -p
    - rm -f images/cc_py37.simg
    - singularity build images/cc_py37.simg container/singularity/cc_py37.def
  cache:
    paths:
      - images
  artifacts:
    paths:
    - images/cc_py37.simg
    expire_in: 1 week
  only:
    changes:
      - container/singularity/cc_py37.def

build_singularity_image_py37_lite:
  stage: image
  script:
    - yum install squashfs-tools -y
    - mkdir images -p
    - rm -f images/cc_py37_lite.simg
    - singularity build images/cc_py37_lite.simg container/singularity/cc_py37_lite.def
  cache:
    paths:
      - images
  artifacts:
    paths:
    - images/cc_py37_lite.simg
    expire_in: 1 week
  only:
    changes:
      - container/singularity/cc_py37_lite.def

################
# unittest
################

unittest_python_3.7:
  stage: unittest
  script:
    - SINGULARITYENV_PYTHONPATH=/test/package singularity exec --cleanenv -B $PWD:/test images/cc_py37.simg make -C /test/package test
  cache:
    paths:
      - images

unittest_python_3.7_lite:
  stage: unittest
  script:
    - SINGULARITYENV_PYTHONPATH=/test/package singularity exec --cleanenv -B $PWD:/test images/cc_py37_lite.simg make -C /test/package test
  cache:
    paths:
      - images

################
# docs
################

pages:
  stage: docs
  artifacts:
    paths:
    - public
  cache:
    paths:
      - images
  script:
    - SINGULARITYENV_PYTHONPATH=/test/package singularity exec --cleanenv -B $PWD:/test images/cc_py37.simg make -C /test/package docs
    - mv package/docs/_build/html/ public/
  only:
    - master

################
# publish
################

test_pypi_publish:
  stage: publish
  cache: {}
  script:
    - pip install -U setuptools
    - pip install -U twine
    - cd package
    - python setup.py sdist
    - twine upload --verbose --repository-url https://test.pypi.org/legacy/ dist/*
  only:
    - tags

pypi_publish:
  stage: publish
  cache: {}
  script:
    - pip install -U setuptools
    - pip install -U twine
    - cd package
    - python setup.py sdist
    - twine upload --verbose dist/*
  only:
    - tags

fix unit test value
  package/tests/test_calcProp.py
Due: none

fix missing package
  container/singularity/cc_py37.def
Due: build_singularity_image_py37

fix setup paths
  setup/setup_chemicalchecker.sh
Due: none

added missing package
  container/singularity/cc_py37_lite.def
Due: build_singularity_image_py37_lite

adding import at begining of pipeline
  package/tests/test_pipeline.py
Due: none

fix wrong function for task
  pipelines/cc_package_pipeline.py
  pipelines/cc_web.py
Due: none

added task to export signaturizers
  pipelines/cc_update.py
Due: none

modified cc-full.def after noticing problems to run
  container/singularity/cc-full.def
Due: none

install jupyter via Conda otherwise error
  container/singularity/cc_py37.def
Due: build_singularity_image_py37

we dont want to load the module along with cc objects
  package/chemicalchecker/core/chemcheck.py
Due: none

added validity check for reference-full mappings
  package/chemicalchecker/core/signature_data.py
Due: none

h5py fix, mask as indeces not bools
  package/chemicalchecker/core/signature_data.py
Due: none

implemented simple check for veridicity of neigbors distances
  package/chemicalchecker/core/neig.py
Due: none

tuned sign3 params
  pipelines/cc_update.py
Due: none

added try except on plotting
  package/chemicalchecker/core/sign3.py
Due: none

h5py fix now masks must be indexes
  package/chemicalchecker/util/splitter/neighbortriplet.py
Due: none

loading sign1 to get opt_t only when fitting
  package/chemicalchecker/core/sign3.py
Due: none

updated to tf2.3
  container/singularity/cc_py37.def
Due: build_singularity_image_py37

reverted to h5py2 syntax
  package/chemicalchecker/core/neig.py
  package/chemicalchecker/core/proj.py
  package/chemicalchecker/core/projector/default.py
  package/chemicalchecker/core/projector/pca.py
  package/chemicalchecker/core/projector/tsne.py
  package/chemicalchecker/core/projector/umap_.py
  package/chemicalchecker/core/sign0.py
  package/chemicalchecker/core/sign1.py
  package/chemicalchecker/core/signature_base.py
  package/chemicalchecker/core/signature_data.py
  package/chemicalchecker/util/pipeline/tasks_web/scripts/libraries.py
  package/chemicalchecker/util/pipeline/tasks_web/task_web_molinfo.py
  package/chemicalchecker/util/pipeline/tasks_web/task_web_plots.py
  package/chemicalchecker/util/pipeline/tasks_web/task_web_projections.py
  package/chemicalchecker/util/pipeline/tasks_web/task_web_similars.py
  package/chemicalchecker/util/plot/multiplot.py
  package/chemicalchecker/util/plot/plot.py
  package/chemicalchecker/util/remove_near_duplicates/remove_near_duplicates.py
  package/chemicalchecker/util/sanitize/sanitizer.py
  package/chemicalchecker/util/splitter/traintest.py
  package/chemicalchecker/util/transform/base.py
Due: none

saving niverse inchi to inchikey mapping
  pipelines/cc_update.py
Due: none
