Repository sbnb-irb/chemical-checker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_singularity_image_py27, build_singularity_image_py36, build_singularity_image_py27_lite

.gitlab-ci.yml:

image: cc_image:latest
cache:
  paths:
    - images

stages:
  - image
  - test
  - deploy



build_singularity_image_py27:
  stage: image
  script:
    - yum install squashfs-tools -y
    - mkdir images -p
    - rm -f images/cc_py27.simg
    - singularity build images/cc_py27.simg container/singularity/cc_py27.def
  cache:
    paths:
      - images
  artifacts:
    paths:
    - images/cc_py27.simg
    expire_in: 1 week
  only:
    changes:
      - container/singularity/cc_py27.def

build_singularity_image_py36:
  stage: image
  script:
    - yum install squashfs-tools -y
    - mkdir images -p
    - rm -f images/cc_py36.simg
    - singularity build images/cc_py36.simg container/singularity/cc_py36.def
  cache:
    paths:
      - images
  artifacts:
    paths:
    - images/cc_py36.simg
    expire_in: 1 week
  only:
    changes:
      - container/singularity/cc_py36.def

build_singularity_image_py27_lite:
  stage: image
  script:
    - yum install squashfs-tools -y
    - mkdir images -p
    - rm -f images/cc_py27_lite.simg
    - singularity build images/cc_py27_lite.simg container/singularity/cc_py27_lite.def
  cache:
    paths:
      - images
  artifacts:
    paths:
    - images/cc_py27_lite.simg
    expire_in: 1 week
  only:
    changes:
      - container/singularity/cc_py27_lite.def



python_2.7.10:
  stage: test
  script:
    - ls -l
    - SINGULARITYENV_PYTHONPATH=/test/package singularity exec --cleanenv -B $PWD:/test images/cc_py27.simg which python
    - SINGULARITYENV_PYTHONPATH=/test/package singularity exec --cleanenv -B $PWD:/test images/cc_py27.simg make -C /test/package test
  cache:
    paths:
      - images

python_3.6.8:
  stage: test
  script:
    - ls -l
    - SINGULARITYENV_PYTHONPATH=/test/package singularity exec --cleanenv -B $PWD:/test images/cc_py36.simg which python
    - SINGULARITYENV_PYTHONPATH=/test/package singularity exec --cleanenv -B $PWD:/test images/cc_py36.simg make -C /test/package test
  cache:
    paths:
      - images

python_2.7.10_lite:
  stage: test
  script:
    - ls -l
    - SINGULARITYENV_PYTHONPATH=/test/package singularity exec --cleanenv -B $PWD:/test images/cc_py27_lite.simg which python
    - SINGULARITYENV_PYTHONPATH=/test/package singularity exec --cleanenv -B $PWD:/test images/cc_py27_lite.simg make -C /test/package test
  cache:
    paths:
      - images

devpi:
  stage: deploy
  script:
    - conda update -c anaconda setuptools
    - pip install devpi-client
    - pip install sphinx sphinx_rtd_theme
    - devpi use http://devpi.sbnb.org:3141
    - devpi login gitlab --password='sbnb'
    - cd package/docs
    - make html
    - cd ..
    - devpi use root/dev
    - devpi upload --with-docs
    - devpi push chemicalchecker==$CI_COMMIT_TAG root/dev
    - devpi use root/prod
    - devpi upload --with-docs
    - devpi push chemicalchecker==$CI_COMMIT_TAG root/prod
    - pip install --index http://devpi.sbnb.org:3141/root/prod/ --trusted-host devpi.sbnb.org chemicalchecker
  only:
    - tags

pages:
  stage: deploy
  artifacts:
    paths:
    - public
  cache:
    paths:
      - images
  script:
    - SINGULARITYENV_PYTHONPATH=/test/package singularity exec --cleanenv -B $PWD:/test images/cc_py27.simg make -C /test/package docs
    - cd package/docs
    - mv _build/html/ ../../public/
    - ls -l ../../public
  only:
    - master

in general we want to run our code on a single machine
  package/chemicalchecker/util/hpc/slurm.py
Due: none

adding possibility to train sign0 to sign3 prediction immediately
  package/chemicalchecker/core/sign3.py
Due: none

fixing missing dependency
  container/singularity/cc_py27.def
  container/singularity/cc_py36.def
Due: build_singularity_image_py27, build_singularity_image_py36

fixed arguments order
  package/chemicalchecker/core/sign3.py
Due: none

when running fit_sgin0 update the adanet parameters instead of overwriting them
  package/chemicalchecker/core/sign3.py
Due: none

added datashader module
  container/singularity/cc-full.def
  container/singularity/cc_py27.def
Due: build_singularity_image_py27

svoid waiting in hpc job
  package/chemicalchecker/core/chemcheck.py
Due: none

added cpu to use as argument
  package/chemicalchecker/tool/targetmate/targetmate.py
Due: none

plot distribution of property for 25 spaces
  package/chemicalchecker/util/plot/multiplot.py
Due: none

added datashader plot
  package/chemicalchecker/util/plot/plot.py
Due: none

total number of jobs can be a kwarg
  package/chemicalchecker/tool/targetmate/targetmate.py
Due: none

Change in def
  container/singularity/cc_py27.def
Due: build_singularity_image_py27
