Repository sbnb-irb/chemical-checker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_singularity_image_py37, build_singularity_image_py37_lite

.gitlab-ci.yml:

image: cc_image:latest
cache:
  paths:
    - images   # shared directory to drop generated singularity images

stages:
  - image      # building the singularity images
  - unittest   # running unittests
  - docs       # generating and uploading documentation
  - publish    # publish the package on PyPI

################
# image
################

build_singularity_image_py37:
  stage: image
  script:
    - yum install squashfs-tools -y
    - mkdir images -p
    - rm -f images/cc_py37.simg
    - singularity build images/cc_py37.simg container/singularity/cc_py37.def
  cache:
    paths:
      - images
  artifacts:
    paths:
    - images/cc_py37.simg
    expire_in: 1 week
  only:
    changes:
      - container/singularity/cc_py37.def

build_singularity_image_py37_lite:
  stage: image
  script:
    - yum install squashfs-tools -y
    - mkdir images -p
    - rm -f images/cc_py37_lite.simg
    - singularity build images/cc_py37_lite.simg container/singularity/cc_py37_lite.def
  cache:
    paths:
      - images
  artifacts:
    paths:
    - images/cc_py37_lite.simg
    expire_in: 1 week
  only:
    changes:
      - container/singularity/cc_py37_lite.def

################
# unittest
################

unittest_python_3.7:
  stage: unittest
  script:
    - SINGULARITYENV_PYTHONPATH=/test/package singularity exec --cleanenv -B $PWD:/test images/cc_py37.simg make -C /test/package test
  cache:
    paths:
      - images

unittest_python_3.7_lite:
  stage: unittest
  script:
    - SINGULARITYENV_PYTHONPATH=/test/package singularity exec --cleanenv -B $PWD:/test images/cc_py37_lite.simg make -C /test/package test
  cache:
    paths:
      - images

################
# docs
################

pages:
  stage: docs
  artifacts:
    paths:
    - public
  cache:
    paths:
      - images
  script:
    - SINGULARITYENV_PYTHONPATH=/test/package singularity exec --cleanenv -B $PWD:/test images/cc_py37.simg make -C /test/package docs
    - mv package/docs/_build/html/ public/
  only:
    - master

################
# publish
################

test_pypi_publish:
  stage: publish
  cache: {}
  script:
    - pip install -U setuptools
    - pip install -U twine
    - cd package
    - python setup.py sdist
    - twine upload --verbose --repository-url https://test.pypi.org/legacy/ dist/*
  only:
    - tags

pypi_publish:
  stage: publish
  cache: {}
  script:
    - pip install -U setuptools
    - pip install -U twine
    - cd package
    - python setup.py sdist
    - twine upload --verbose dist/*
  only:
    - tags

hopefully less randomly failing downloader unit test
  package/chemicalchecker/util/download/download.py
Due: none

Changing sign4 HPC job parameters; protocol=4 set for pickle to dump large files
  package/chemicalchecker/tool/siamese/siamese_triplets.py
  pipelines/cc_update.py
Due: none

Restore tensorflow.compat.v1 layers imports in adanet
  package/chemicalchecker/tool/adanet/dnn_extend_generator.py
  package/chemicalchecker/tool/adanet/dnn_stack_generator.py
Due: none

Update cc_py37.def with chembl_structure_pipeline
  container/singularity/cc_py37.def
Due: build_singularity_image_py37

bugfix: neig.get_vector better return string inchikeys rather than bytes
  package/chemicalchecker/core/neig.py
Due: none

Rearranging steps order in cc_web and fixing small bug for overwrite parameter in similars.py
  package/chemicalchecker/util/pipeline/tasks_web/scripts/similars.py
  pipelines/cc_web.py
Due: none

also create symlinks to sign4
  package/chemicalchecker/core/chemcheck.py
Due: none

added symlink and metadata generation task
  pipelines/cc_update.py
Due: none

Update README.md
  README.md
Due: none

raise exception on sign0 predict when no features are shared with input data
  package/chemicalchecker/core/sign0.py
Due: none

bumped version
  package/chemicalchecker/__init__.py
  package/setup.py
Due: none

moved lite to ubuntu, cleaned signularity dir, fixed readme
  README.md
  container/singularity/.old/cc-full.def
  container/singularity/.old/cc_py37_centos8.def
  container/singularity/cc_py37_lite.def
Due: build_singularity_image_py37_lite

fixing git pip install
  container/singularity/cc_py37.def
Due: build_singularity_image_py37

bugfix, after fetching refeerence nearest neighbors we must map to the full redundant space, otherwise we miss obvious relationship in the explore page
  package/chemicalchecker/util/pipeline/tasks_web/scripts/similars.py
Due: none
